.dub
dub.selections.json
settings.json
docs.json
__dummy.html
*.dll
*.o
*.obj
*.pdb

__test__library__

# Ignore code coverage:
*.lst
.*.lst

# Ignore client side dependencies
node_modules/
public/css/*.css
public/js/*.js
public/fonts/

# Ignore Intellij IDEA folder:
.idea
*.iml

# Ignore Sublime Text workspace (project file is ok):
*.sublime-workspace

# Ignore the executable and log file that is generated when running the app
eloquent
eloquent.exe
*.log
*.sqlite

# ignore properties that are used when running the application
*.properties
