.dub
dub.selections.json
docs.json
__dummy.html
*.o
*.obj

__test__library__

# Ignore code coverage:
*.lst
.*.lst

# Ignore client side dependencies
bower_components/
public/css/*.css
public/js/bootstrap*
public/js/jquery.min.js
public/fonts/

# Ignore Intellij IDEA folder:
.idea

# Ignore Sublime Text workspace (project file is ok):
*.sublime-workspace

# Ignore the executable and log file that is generated when running the app
eloquent
*.log

# ignore properties that are used when running the application
*.properties