
body {
	font-family: 'Droid Sans','Ubuntu','Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/*nav {*/
	/*margin-bottom: 1.5rem;*/
/*}*/

.login-row {
	margin: 10% -15px;
}

.bg-shadow {
	box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}